@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Betterworks";
  src: url("/fonts/Betterworks.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap");

@import "~font-awesome/css/font-awesome.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: urbanist, sans-serif;
}
